# Root requirements template.
#
# Prefer installing by job with pyproject extras:
#   pip install ".[sensors]"
#   pip install ".[images]"
#   pip install ".[ctd]"
#   pip install ".[abundance]"
#
# For the complete Stingray CLI dependency set:
#   pip install ".[pipeline]"
#
# For local Stingray CLI development:
#   pip install -e ".[dev]"
#
# Legacy Tator command dependency:
#   pip install ".[legacy-tator]"
